.bodyStyle{
    font-family: sans-serif;
    background-color: rgb(250, 250, 228);
}
.bodyContent{
    font-family: sans-serif;
    background-color: rgb(250, 250, 228);
}
#header{
    background-color: blue;
    color: white;
    padding: .1em;
}


#header li{
    font-size: 1.2em;
    display:inline;
    padding: 1em;
}

#header li:hover{
    background-color: rgb(42, 93, 233);
}

#header a{
    color:white;
    text-decoration: none;
}
#footer{    text-align: center;
    padding: .1em;
    position: fixed;
    right: 50%;
    bottom: 2%;
}
#contactContent{
    padding: 3em;
    position: fixed;
    left:20%;
    font-size: 1.2em;
}
#contactAddress ul{
    position: fixed;
    bottom: 15%;
    right:10%;
    list-style: none;
    font-size: 1.2em;
}
#aboutContent {
    padding: 3em;
    padding-left: 5em;
    padding-right: 5em;
    font-size: 1.2em;
    line-height: 1.6em;
}
#mainContent {
    padding: 2.5em;
    font-size: 4em;
    text-align: center;
}